body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 95vh;
    box-sizing: border-box;
}

#main-content {
    flex: 1;
}

h1 {
    text-align: center;
}

#settings {
    background-color: #ddd;
    padding: 5px 10px 10px 10px;
}

#settings h2 {
    text-align: center;
}

#settings .range-input {
    width: 50px;
    font-size: 14px;
}

#settings p {
    padding-left: 40px;
    margin: 2px 0px 10px 0px
}

#start-btn-container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 16px;
    width: 140px;
    height: 30px;
}

#game {
    display: none;
    margin-top: 20px;
    background-color: #ddd;
    padding: 10px;
}

#in-game-stats-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 16px;
}

#problem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#problem {
    font-size: 36px;
    margin: 20px 0;
}

#answer {
    font-size: 36px;
    width: 150px;
    height: 60px;
    text-align: center;
}

#in-game-btns-container {
    display: flex;
    justify-content: space-around;
}

#stats {
    display: none;
    margin-top: 20px;
    background-color: #ddd;
    padding: 10px;
}

#final-score-container {
    font-size: 36px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#per-question-stats-container {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#per-question-stats-box {
    width: 90%;
    height: 200px;
    resize: vertical;
    overflow-y: scroll;
    font-family: monospace;
    padding: 10px;
    border-radius: 8px;
}

.per-question-stats-btns-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#stats button {
    width: 200px;
}

#stats-btns-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
}